@import '@fontsource/inter/400.css';
@import '@fontsource/inter/400-italic.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';

@import '@fontsource/manrope/300.css';
@import '@fontsource/manrope/400.css';
@import '@fontsource/manrope/500.css';
@import '@fontsource/manrope/700.css';
@import '@fontsource/manrope/800.css';

@import '@fontsource/noto-sans/400.css';
@import '@fontsource/noto-sans-symbols-2/400.css';

@font-face {
  font-family: 'Quantum';
  src: url('/fonts/Quantum-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OPPOSans';
  src: url('/fonts/OPPOSansLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OPPOSans';
  src: url('/fonts/OPPOSansRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OPPOSans';
  src: url('/fonts/OPPOSansMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OPPOSans';
  src: url('/fonts/OPPOSansBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OPPOSans';
  src: url('/fonts/OPPOSansHeavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINOT';
  src: url('/fonts/DINOT.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alimama ShuHeiTi';
  src: url('/fonts/Alimama_ShuHeiTi-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alibaba PuHuiTi 2.0';
  src: url('/fonts/Alibaba PuHuiTi 2.0-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans SC';
  src: url('/fonts/noto-sans-sc/noto-sans-sc-chinese-simplified-400-normal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans SC';
  src: url('/fonts/noto-sans-sc/noto-sans-sc-chinese-simplified-500-normal.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans SC';
  src: url('/fonts/noto-sans-sc/noto-sans-sc-chinese-simplified-700-normal.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans SC';
  src: url('/fonts/noto-sans-sc/noto-sans-sc-chinese-simplified-900-normal.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('/fonts/noto-sans-jp/noto-sans-jp-japanese-400-normal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('/fonts/noto-sans-jp/noto-sans-jp-japanese-500-normal.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('/fonts/noto-sans-jp/noto-sans-jp-japanese-700-normal.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('/fonts/noto-sans-jp/noto-sans-jp-japanese-900-normal.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
